@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600;700&display=swap');

.main-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;
    align-items: center;
    padding-top: 110px;
}

.gerichte {
    padding: 0 18vw;
}

.landing-page {
    font-family: 'Noto Sans', sans-serif !important;
}

.landingpage-main-text > h1 {
    margin: 0;
    color: #d4a373;
    padding-bottom: 30px;
}

.landingpage-main-text {
    line-height: 1.4;
    color: #3b2f2f;
    font-size: 23pt;
    display: flex;
    flex-direction: column;
}

.landingpage-main-text > p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: #232323;
    margin: 0;
}

@media (max-width: 355px) {
    .landingpage-main-text > p {
        font-size: 15px !important;
    }

    .landingpage-main-text {
        font-size: 21pt !important;
    }
    .gerichte h2 {
        font-size: 19pt !important;
    }
    .preise h2 {
        font-size: 19pt !important;
    }
}
@media (min-width: 1050px) {
    .gerichte {
        gap: 40px !important;
    }
    .gerichte > section {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr !important;
        grid-template-rows: 1fr 1fr !important;
        gap: 80px;
        height: 420px;
        width: 100%;
        padding-bottom: 30px;
        max-width: none !important;
    }
    .gerichte > section > article {
        width: 100% !important;
        height: auto !important;
        background-repeat: no-repeat !important;
        background-color: rgba(255,255,255,0) !important;
        max-width: 250px !important;
        max-height: 250px !important;
    }
    .main-content {
        padding-top: 155px;
    }
}

.gerichte {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.gerichte img {
    width: 100%;
}

.gerichte h2 {
    font-size: 22pt;
    bottom: 0;    color: #3b2f2f;

    text-decoration: underline;
    text-decoration-color: #3b2f2f;
}

.preise h2 {
    font-size: 22pt;
    bottom: 0;    color: #3b2f2f;
}

.gerichte > section > article > p, .gerichte > section > article > h3{
    margin: 0;
}

.gerichte > section > article > p {
    padding-bottom: 35px;
}

.gerichte > section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 400px;
}

.gerichte > section > article {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* General table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

/* Header and cells styling */
th, td {
    padding: 10px;
    border: 1px solid #987553;
    text-align: left;
}

/* Header specific styling */
th {
    background-color: #d9bca0;
    color: #333;
    font-weight: bold;
}

/* Zebra striping for rows */
tr:nth-child(even) {
    background-color: #d9bca0;
}

/* Hover effect for rows */
tr:hover {
    background-color: #d9bca0;
}

/* Price specific styling */
th:first-child, td:first-child {
    background-color: #d4a373;
    color: #3B2F2F;
}
.preise {
    min-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Responsive adjustments */
@media (max-width: 722px) {
    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        display: block;
        border-bottom: 2px solid #987553;
    }

    table td {
        display: block;
        text-align: right;
        font-size: 0.8em;
        border-bottom: 1px dotted #987553;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-title);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}



